<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net461" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net461" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net461" />
  <package id="D3S.Spring.Aop" version="3.0.0-pre" targetFramework="net461" />
  <package id="D3S.Spring.Core" version="3.0.0-pre" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net461" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
</packages>